@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 18s linear infinite;
}


@keyframes slideUp {
  0% { opacity: 0; transform: translateY(-50px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Animation: slide from bottom */
@keyframes slideDown {
  0% { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-slide-up {
  animation: slideUp 0.7s ease both;
}

.animate-slide-down {
  animation: slideDown 0.7s ease both;
}